<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="creationOperators">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#creation"
        aria-controls="creation"
      >
        <strong> Operadores de criação </strong>
      </button>
    </h2>
    <div
      id="creation"
      class="accordion-collapse collapse show"
      aria-labelledby="creationOperators"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <app-of></app-of>
      </div>
    </div>
  </div>
</div>

<!-- <app-of></app-of> -->

<!-- <app-from-event></app-from-event> -->

<!-- <app-interval></app-interval> -->

<!-- <app-timer></app-timer> -->

<!-- <app-throw-error></app-throw-error> -->

<!-- <app-ajax></app-ajax> -->
