<p>
  Observables são um tipo de objeto em programação reativa que representam
  fluxos de eventos ou valores ao longo do tempo. Eles são usados para trabalhar
  com operações assíncronas e permitir que o código reaja aos eventos que
  ocorrem de forma assíncrona.
</p>

<p>
  Um Observable emite valores (também chamados de "eventos") ao longo do tempo,
  e um observador pode se inscrever nesse Observable para ser notificado sempre
  que um novo valor for emitido. Observables podem emitir qualquer tipo de
  valor, como números, strings, objetos, arrays e até mesmo outros Observables.
</p>

<p>
  Um Observable pode emitir zero ou mais valores, seguidos de uma notificação
  final indicando que a emissão terminou (um "completion" ou "erro"). Ao
  contrário de Promises, Observables podem emitir vários valores ao longo do
  tempo, em vez de apenas um único valor.
</p>

<p>
  Observables são uma parte central do RxJS, uma biblioteca de programação
  reativa para JavaScript. Com o RxJS, você pode combinar, transformar e filtrar
  fluxos de eventos usando uma variedade de operadores poderosos, o que torna
  mais fácil lidar com dados assíncronos em aplicações web e mobile.
</p>

<div class="d-flex justify-content-end">
  <button
    #btn
    type="button"
    [disabled]="obsCompleted"
    [ngClass]="obsCompleted ? 'btn btn-secondary' : 'btn btn-primary'"
  >
    {{ label }}
  </button>
  <button
    class="ms-3"
    [ngClass]="obsCompleted ? 'btn btn-primary' : 'btn btn-secondary'"
    (click)="reloadPage()"
  >
    Reiniciar
  </button>
</div>
