<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="ofOperator">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#of"
        aria-controls="of"
      >
        <strong class="text-primary"> of </strong>
      </button>
    </h2>
    <div
      id="of"
      class="accordion-collapse collapse"
      aria-labelledby="ofOperator"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>
          O operador of do RxJS é responsável por criar um Observable que emite
          uma sequência de valores, de maneira síncrona, e então completa. Ele
          pode emitir qualquer número de argumentos em sequência e completa logo
          em seguida.
        </p>
        <p>
          O operador of é bastante útil quando você precisa emitir um conjunto
          finito de valores em uma sequência síncrona e, em seguida, completar.
        </p>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" #btn>
            Inserir elemento em of de array
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
